*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 50px;
    display: flex;
    color: white;
    background-color:black;
    padding-top: 40px;
    /* position:fixed ; */
   z-index: 3;
  
}
.menu{
   padding: 0 20px; 
}
.logo{
    width: 40px;
    height: 40px;
    border-radius:2px;
    margin-top: -10px;
    padding: 0 20px;
}
.list ul{
    display: flex;
}
.list{
    width:50%; 
    
}
.list li{
    list-style: none;
    font-weight: bold;
    margin-left: 7%;
    
}
.input{
 position: relative;
 width: 20%;
 

}
.input i{
    color: #2F9B75;
  position: absolute;
  top: 3px;
  left: 10px;
}

.input input{
    width:100%;
    height: 30px;
    border-radius: 5px;
    background-color: #404040;
    outline: none;
    color: white;
    border: 1px solid #5c5959;
    margin-top: -10px;
}
input::placeholder{
    color: white;
    padding-left: 10px;
}
.menu-mult i{
   font-size: 20px;
   padding-left: 100px;
   padding-right: 30px;
}

.button button{
padding: 7px 15px;
font-weight: bold;
background-color: #55CCA2;
border: none;
border-radius: 6px;


}
.section1{

    width: 100%;
    height: 1000px;
   background: url(/images/img-background.webp);
   background-repeat: no-repeat;
   background-size: cover;

  
}
.section1-div{
 
  width: 100%;
  

 
}


.formation{
    width: 15%;
    border-radius: 10px;
    position: absolute;
    z-index: 3;
    margin: 3rem 29rem;
    display:none;
   

}
.select{
    background-color: rgb(27, 21, 21);
    color: white;
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 15px;
}
.grid{
   
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:0 20%;
   
   

}
.grid-grid2{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.grid-grid3{
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.grid-grid4{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(1fr);
}


 .plus{
    font-size: 3.4rem;
    margin-top: -9px;
    margin-left:3rem ;
    color: #e3b325;
 }
 .plus:hover{
    color: #7f671e7f;
 }
 .plus-one{

 }
.position{
    position: relative;
    top: -3rem;
}
    .terrain{
      
 /* background-color: #1e1e1e; */
 height: 900px;
 /* display: grid;   */
 width: 100%;
 /* grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(6,1fr); */
      
    }
/* cards */


.fut-player-card {
	position: relative;
	width: 142px;
  height: 71px;
	background-image: url(https://selimdoyranli.com/cdn/fut-player-card/img/card_bg.png);
	background-position: center center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	padding: 3.8rem 0;
	z-index: 2;
	-webkit-transition: 200ms ease-in;
	-o-transition: 200ms ease-in;
	transition: 200ms ease-in;
    margin: auto;
    /* border: 2px solid red; */
   
    
}
/* ==============pos */
.card-card{

    display: none;
  
    position: absolute;
   top: 90px;
}
 .pos-one{
    margin-left: 20.5rem;
   
}
.pos-two{
    margin-left: 12rem;
    margin-top: 1rem;
    
}
.pos-three{
    margin-left: 13rem;
    margin-top: -13rem;
   
   
}
.pos-four{
    margin-left: -7rem;
    
}
.pos-five{
    margin-top: 3rem;
    margin-left: -4rem;
   
}
.pos-six{
    margin-top: 3rem;
    margin-left: -5rem;
    
} 
/*end pos =========== */

.fut-player-card .player-card-top {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #e9cc74;
	padding: 0 1.5rem;
 
}

.fut-player-card .player-card-top .player-master-info {
	position: absolute;
	line-height: 2.2rem;
	font-weight: 300;
	padding: 1.5rem 0;
	text-transform: uppercase;
}

.fut-player-card .player-card-top .player-master-info .player-rating {
	font-size: 12px;
    margin-top: -42px;
}

.fut-player-card .player-card-top .player-master-info .player-position {
	font-size: 12px;
    margin-top: -20px;
}

.fut-player-card .player-card-top .player-master-info .player-nation {
	display: block;
	width: 1rem;
	height: 25px;
	margin: -11px 0;
}

.fut-player-card .player-card-top .player-master-info .player-nation img {
	width: 100%;
	height: 100%;
	-o-object-fit: contain;
	object-fit: contain;
}

.fut-player-card .player-card-top .player-master-info .player-club {
	display: block;
	width: 1rem;
	height: 40px;
}

.fut-player-card .player-card-top .player-master-info .player-club img {
	width: 100%;
	height: 47%;
	-o-object-fit: contain;
	object-fit: contain;
}

.fut-player-card .player-card-top .player-picture {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
}

.fut-player-card .player-card-top .player-picture img {
    width: 63%;
    height: 23%;
    -o-object-fit: contain;
    object-fit: contain;
    position: relative;
    right: -2.5rem;
    bottom: 4px;
}

.fut-player-card .player-card-top .player-picture .player-extra {
	position: absolute;
  right: -11px;
  bottom: 90px;
  overflow: hidden;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  height: 5rem;
  padding: 0 1.5rem;
  text-align: right;
  background: none;
}

.fut-player-card .player-card-top .player-picture .player-extra span {
	margin-left: 0.6rem;
	text-shadow: 2px 2px #333;
}

.fut-player-card .player-card-bottom {
	position: relative;
}

.fut-player-card .player-card-bottom .player-info {
	display: block;
	padding: 0.3rem 0;
	color: #e9cc74;
	width: 90%;
	margin: 0 auto;
	height: auto;
	position: relative;
	z-index: 2;
   
}

.fut-player-card .player-card-bottom .player-info .player-name {
	width: 100%;
	display: block;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	border-bottom: 2px solid rgba(233, 204, 116, 0.1);
	padding-bottom: 0.3rem;
	overflow: hidden;
    margin-top: -10rem;
}

.fut-player-card .player-card-bottom .player-info .player-name span {
	display: block;
	text-shadow: 2px 2px #111;
}

.fut-player-card .player-card-bottom .player-info .player-features {
	margin: 0.5rem auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
    
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col {
	border-right: 2px solid rgba(233, 204, 116, 0.1);
	padding: 0 0.3rem;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 10px;
	text-transform: uppercase;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-value {
	margin-right: 0.3rem;   
	font-weight: 700;
    font-size: 10px;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col span .player-feature-title {
	font-weight: 300;
}

.fut-player-card .player-card-bottom .player-info .player-features .player-features-col:last-child {
	border: 0;
}

/* Formulaine */
h1{
    text-align: center;
    color: #2F9B75;
    padding-bottom: 15px;
}
#close{
    color: #2F9B75;
    font-size: 2rem;
   position: absolute;
   top: 0;
   right:0;
   padding: 10px 10px 0 0 ;
}
#close:hover{
    opacity: 0.5;
}
#formulaire{
 width: 30%;
 background-color: rgb(27, 22, 22);
 padding-top: 25px;
 display: none;
 position: absolute;
 z-index: 5;
 box-shadow: 20px 20px  20px black;
 margin-left: 29rem;
 margin-top: -56rem;


}

#formulaire button{
    padding: 10px 20px;
    background-color: #2F9B75;
    border: none;
    border-radius: 5px;
    margin-left: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}
#formulaire button:hover{
    opacity: 0.5;
}
.name{
    width: 85%;
    background-color: black;
    border: none;
    outline: none;
    color: white;
   padding: 10px ;
   margin: 5px 15px;
  
}
.name::placeholder{
    color: #282222;
    padding-left: 5px;
}
.hidden{
    display:none;
}
/* ====disposition */
.disposition-section{
    background-color: #111;
    display: flex;
   padding: 2rem 0;
}



/* footer */

.footer-one{
    width: 100%;
    height: 60px;
    padding-top: 30px;
    display: flex;
   justify-content: space-between;
   background-color: #2F9B75;
   
}
.one{
    padding-left: 20px;
    letter-spacing: 1px;
}
.two i{
    padding-right: 20px;
}
.footer-two{
    display: flex;
    padding-top: 30px;
    color: white;
    background-color:#2d2828 ;
    padding-bottom: 30px;

}
.footer-two h3{
    font-size: 15px;
}
.footer-two p{
    font-size: 13px;
}
.three{
    padding-left: 20px;
}
.four, .five{
    padding-left: 15%;
}
.three, .four, .five{
    line-height: 30px;
}
.vide{
 width: 55%;
 height: 2px;
background-color: #2F9B75;
margin: 10px 0;
}
.footer-three{
    height: 50px;
    background-color: black;
    color: gray;
    text-align: center;
    padding-top: 25px;
    font-size: 13px;
}
.footer-three span{
    font-weight: bold;
    color: white;
    font-size: 15px;
}
.footer-four{
    height: 50px;
    background-color:#2d2828;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color:#5c5959;
    padding-top: 10px;
}
.card{
    display: flex;
}